.sect {
  &__title {
    font-family: "NafaRegular";
    color: #000;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &--2{
      font-size: 38px;
    }
    &--slice{
      font-family: 'NafaSlice';
      letter-spacing: 2px;
    }
  }
}
