.sect {
  &__title {
    font-family: "NafaRegular";
    color: #000;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &--2{
      font-size: 38px;
    }
    &--3{
      font-size: 21px;
      font-family:'JosefinSans-Italic' ;
      opacity: 0.8;
    }
    &--slice{
      font-family: 'NafaSlice';
      letter-spacing: 2px;
    }
  }

  &__txt{

    &--light{
      font-weight: 300;
    }
    &--bold{
      font-weight: 700;
    }

    &--21{
      font-size: 21px;
    }
  }
}
